[Service]
Environment="PORT={{ beszel_agent_port }}"
Environment="KEY={{ beszel_runtime_hub_key }}"
Environment="TOKEN={{ beszel_runtime_universal_token }}"
Environment="HUB_URL={{ beszel_hub_url }}"
