global:
  scrape_interval: 30s

scrape_configs:
  - job_name: 'pve'
    static_configs:
      - targets: ['{{ proxmox_host }}:8006']
    metrics_path: /pve
    params:
      module: [default]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: pve-exporter:9221

  - job_name: 'unpoller'
    scrape_interval: 2m
    static_configs:
      - targets: ['unpoller:9130']
